:root{
    --purple:#6f699e;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.about-us {
    height: 150px;
    background-color: #71b200;
    display: flex;
    align-items: center;
}
.about-us h1{
    margin-left: 200px;
    font-size: 2.3em;
    color: white;
}
.community-enrichment {
    /* border: 1px solid red; */
display: flex;
justify-content: center;
padding: 30px 0;
}
.community-enrichment img{
    /* border: 1px solid green; */
    /* box-shadow: 0 0 5px rgb(119, 119, 119); */
    border: 1px solid rgb(119, 119, 119);
    padding: 10px;
}

 /* query */
 .query{
    /* border: 1px solid red; */
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #eaf0f6;
}
.query-content{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    padding: 10px;
}
.query-content i{
    /* font-size: 1em; */
    /* border: 1px solid blue; */
    font-size: 3em;
    color: green;
    margin-right:-70px ;
}
.query-content h1{
 font-size: large;
 margin-bottom: 5px;
 font-weight: 400;   
}
.query-content p{
    font-weight: 500;
}